body {
  background:#000;
  color:#eee;
  font-family: Helvetica, Arial, sans-serif;
}
a { color:#fff; text-decoration:none; }
.grid {
  display:grid;
  grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
  gap:20px;
}
.item { background:#111; padding:20px; }
